@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 5vh 0;
}

h1 {
    text-align: center;
}

#average {
    width: 600px;
    text-align: center;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #273fc6;
    background-color: #f3f8ff;
}

#form-container {
    width: 50%;
}

.form-control {
    width: 85%;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid rgb(54, 54, 54);
    width: 10%;
}

th {
    background-color: rgb(240, 240, 240);
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }
    #average {
        width: 400px;
        font-size: 1rem;
        margin-bottom: 0px;
    }
    #form-container {
        width: 340px;
    }
    table {
        width: 90vw;
    }
    th, td {
        width: 20%;
    }
    th:nth-child(3 of th), td:nth-child(3 of td.colDato) {
        width: 15%;
    }
    .colAcciones {
       flex-direction: column;
       width: 100%;
    }
    .colAcciones button {
        font-size: 0.9rem;
        padding: 4px 1vw;
    }
}

@media screen and (max-width: 400px) {
    #average {
        width: 320px;
        font-size: 0.8rem;
        margin-bottom: 0px;
    }
    #form-container {
        width: 320px;
    }
    th, td {
        width: 20%;
    }
}
.colAcciones {
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0);
}

.colAcciones button {
    margin: 1px;
}

.div_edit {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}